body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #242424;
  color: white;
  margin: 0;
}

.content-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* @media (max-width: 575px) {
  .content-area {
    margin-top: 200px;
  }
} */

.card:hover {
  transform: scale(103%);
  transition: 0.2s ease-in-out;
}

.custom-border {
  border: 1px solid #ffffff15;
}
