body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #15181c;
  color: white;
  margin: 0;
}

.content-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.card:hover {
  transform: scale(102%);
  transition: 0.3s ease-in-out;
}

.custom-border {
  border: 1px solid #ffffff15;
}

.custom-shadow1 {
  box-shadow: 2px 2px 6px #00000055;
}

.customCardGradient {
  background: linear-gradient(to right, #1f242b, #15181c);
}

.customNavStyle {
  background: linear-gradient(to right, #1f242b, #15181c, #1f242b);
  border: 1px solid rgba(255, 255, 255, 0.113);
}

.custom-text-gradient {
  background-image: linear-gradient(
    to top right,
    transparent,
    #f8fafc,
    transparent
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media (max-width: 575px) {
  .courses {
    margin-top: 200px;
  }
}
